* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

#container {
  display: flex;
  justify-content: space-between;
}

#container > div {
  width: 100px;
  height: 30px;
  border: 2px;
  -webkit-app-region: no-drag;
}

/** Flip Clock Style Override **/
.clock {
  zoom: 1;
  -moz-transform: scale(1);
  -webkit-app-region: drag;
}

.flip-clock-dot {
  background: #ccc;
}

.flip-clock-meridium a {
  color: #ccc;
}

.flip-clock-meridium a:hover {
  color: #ccc;
}
